.msgFilter {
  /* font-size: 18px;
  display: block;
  margin-top: 20px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 5px; */
}

.inputFilter {
}
.inputFilter input {
  padding: 14px 14px;
}
