.phoneList {
  margin-top: 20px;

  list-style: none;
  /* width: 300px; */
}
.phoneName,
.phoneNumber {
  min-width: 80px;
}
.phoneItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.phoneItem .btnDelete {
  margin-left: 10px;
}

.loader {
  position: absolute;
  left: 50%;
}
